/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   BLOCKS 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



// std block

.block {
	position: relative;
}



// skew div wrap 

.block-skew-wrap {
	padding: 0;
	z-index: 1000;
}



// block pad options

.block-pad-sm {
	padding: 4vw 3vw;
}

.block-pad-md {
	padding: 7vw 3vw;
}






