/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   FILTERS 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



.parent-categories,
.child-categories {
	font-size: 1rem;
	color: $warm-gray-2;
	line-height: 2;

	@include breakpoint(medium) {
		font-size: 1.2rem;
	}
}

.parent-categories {
	text-transform: uppercase;
}




.parent-categories span,
.child-categories span,
.parent-categories a,
.child-categories a {
	color: $warm-gray-2;
	display: block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	@include breakpoint(medium) {
		display: inline-block;
	}

}

.child-categories span,
.child-categories a {
	display: inline-block;
}

.parent-categories span.selected,
.child-categories span.selected,
.parent-categories a.selected,
.child-categories a.selected,
.parent-categories a:hover,
.child-categories a:hover {
	color: $dark-gray;
}

.child-categories a:hover {
	color: $dark-gray;
	text-decoration: underline;
}







/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   I-LIN: PARENT AND CHILD CATEGORY FILTER TAGS 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*
.parent-categories button.secondary,
.parent-categories .button.secondary {
  width: 100%;
}

.parent-categories button.small,
.parent-categories .button.small {
  padding: 0.5rem 0;
}

.parent-categories button.small:hover,
.parent-categories .button.small:hover {
  background-color: #666;
  color: #fff;
}

.parent-categories button.small.active,
.parent-categories .button.small.active {
  background-color: #444;
  color: #fff;
}

.parent-categories .columns {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.child-categories button.small,
.child-categories .button.small {
  padding: 0.5rem 1rem;
  background-color: #bbb;
}

.child-categories button.small:hover,
.child-categories .button.small:hover {
  background-color: #ddd;
}

.child-categories button.small.active,
.child-categories .button.small.active {
  background-color: #444;
  color: #fff;
}
*/
