/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   LINKS 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



a.view-more {
	display: inline-block;
	margin-top: 2rem;
	padding: 0 2rem 0 3.35rem;
	text-align: center;
	color: #000;
	opacity: 0.5;
	font-size: 1.25rem;
}

a.view-more span.link-text {
	display: inline-block;
	border-top: 1px solid #151f25;
	padding-top: 0.5rem;
	margin: 0 0.5rem;
}

a.view-more span.link-arrow {
	display: inline-block;
	padding-top: 0.5rem;
	height: 15px;
	width: 21px;
	background-image: url('../img/arrow-view-more.svg');
	background-repeat: no-repeat;
	background-size: 21px 15px;
	background-position: 100% 100%;
}

a.view-more:hover {
	opacity: 1;
}
