/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   HOME PAGE 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



// home page ideals

.region-ideals h1 {
	
	font-size: 2.75rem;
	
	@include breakpoint(medium) {
		font-size: 10vw;
	}
}



/* AT A GLANCE 
======================================================================== */



/* vertical border treatment
........................................................................ */

// using box shadow so we can overlap 1px borders
// doing even left and odd right in case one is deeper than the other
// heads stay aligned and not jump with vertical center

.region-glance .glance-wrap .columns:nth-of-type(odd) {	

	@include breakpoint(medium) {
		box-shadow: 1px 0 0 0 #fff;
	}	    
}

.region-glance .glance-wrap .columns:nth-of-type(even) {
		
	@include breakpoint(medium) {
		box-shadow: 1px 0 0 0 #fff inset;
	}
}

/* ..................................................................... */



.region-glance {
	border-top: 1px solid #ddd;
}

.region-glance > .row {
	padding: 9vw 0 3vw 0;
}

.region-glance .glance-wrap .row {
	background-color: $dark-gray;
	color: #fff;
}

.region-glance .glance-wrap .columns {
	
	padding: 11vw 5vw 9vw 5vw;
	border-bottom: 1px solid #fff;
	
	@include breakpoint(medium) {
		border-bottom: none;
	}

}

.region-glance .glance-wrap .row:nth-of-type(2) {
		
	border-top: none;

	@include breakpoint(medium) {
		border-top: 1px solid #fff;
	}
}



/* head with shortened top/bot rule 
........................................................................ */

.region-glance .glance-wrap h2 {
    position: relative;
    margin-bottom: 4rem;
}

.region-glance .glance-wrap h2:after {
    content: '';
    position: absolute;
    top: -0.75rem;
    bottom: -1.25rem;
    left: 30%;
    right: 30%;
    width: 40%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

/* ..................................................................... */



/* INVESTMENTS 
======================================================================== */

.investments {
	position: relative;
}

.investments .company {
    float: left;
    width: 100%;
    padding: 2rem;
	box-shadow: 1px 1px 0 0 #666;

	@include breakpoint(medium) {
	    width: 50%;
	}

	@include breakpoint(large) {
	    width: 33.333%;
	}

}

.border-override {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
	border: 2px solid #fff;
}





/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   TEAM PAGE 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



.region-team-headshots{
	
	padding-bottom: 0;

	@include breakpoint(medium) {
	    padding-bottom: 3rem;
	}
	
	@include breakpoint(large) {
	    padding-bottom: 7rem;
	}
	
}

/*
.region-team-headshots .row {
	
	padding-bottom: 3rem;

	@include breakpoint(large) {
	    padding-bottom: 7rem;
	}
	
}
*/

.region-team-headshots a {
    background-color: $dark-gray;
    display: inline-block;
}

.region-team-headshots a img {
    opacity: 0.65;
}

.region-team-headshots a:hover {
    background-color: white;
}

.region-team-headshots a img:hover {
    opacity: 1;
}









