/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   SPACING TWEAKS 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



/* PADDING 
======================================================================== */

// block pad options ...................................................

.block-pad-sm {
	padding: 4vw 0;
}

.block-pad-md {
	padding: 7vw 3vw;
}

.block-pad-lg {
	padding: 12vw 3vw;
}

.block-pad-sm-bot {
	padding-bottom: 4vw;
}

.block-pad-md-bot {
	padding-bottom: 7vw;
}

.block-pad-lg-bot {
	padding-bottom: 12vw;
}

.pad-sm-top-bot {
	padding: 4vw 0;
}

.pad-md-top-bot {
	padding: 7vw 0;
}

.margin-bottom-30 {
	margin-bottom: 2.5rem;
}











