/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   STORIES 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



// promo block 

.story-promo-block {
	padding: 4rem 0;
	background-color: #4fc;
	text-align: center;
}

.story-promo-block a {
	border: 1px solid #000;
	display: block;
	margin-top: 2rem;
	padding: 0.75rem 0;
	text-align: center;
	color: #000;
}

.story-promo-block a:hover {
	background-color: #000;
	color: #fff;
}


