/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   TITLE BAR 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



.titlebar {
	background-color: $dark-gray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.titlebar p {
	margin: 0;
}