/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   BASE TYPOGRAPHY 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */




// heads ...........................................................    


h1 {
    font-family: "adobe-caslon-pro",serif;
	font-size: 5.5vmax;
    
	@include breakpoint(medium) {
   		font-size: 7.5vw;
	}
	@include breakpoint(xlarge) {
		font-size: 11vmin;
	}
}

h2 {
	font-family: "adobe-caslon-pro",serif;
	font-size: 4.76vmax;
   
	@include breakpoint(medium) {
		font-size: 6.3vw;
	}
	@include breakpoint(xlarge) {
		font-size: 9.53vmin;
	}
}

h3 {
	font-family: "adobe-caslon-pro",serif;
	font-size: 4.03vmax;
	line-height: 1.2;
   
	@include breakpoint(medium) {
		font-size: 5.3vw;
	}
	@include breakpoint(xlarge) {
		font-size: 8.06vmin;
	}
}

h4 {
	font-family: "proxima-nova",sans-serif;
	font-size: 3.3vmax;
	color: $warm-gray-2;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	
	@include breakpoint(medium) {
		font-size: 4.3vw;
	}
	@include breakpoint(xlarge) {
		font-size: 6.6vmin;
	}
	
}

h5 {
	font-size: 3vmax;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: rem-calc(24);
	color: $warm-gray-2;
	
	@include breakpoint(medium) {
		font-size: 3.4vw;
	}
	@include breakpoint(xlarge) {
		font-size: 5.13vmin;
	}
	
}


// paragraph ...........................................................

p.larger-text,
.larger-text p {

	font-size: 2.9vmax;

	@include breakpoint(medium) {
		font-size: 2.8vw;
	}
	@include breakpoint(xlarge) {
		font-size: 3.6vmin;
	}
	
}

p, li {
	
	font-size: 2.5vmax;

	@include breakpoint(medium) {
		font-size: 2.3vw;
	}
	@include breakpoint(xlarge) {
		font-size: 3vmin;
	}
	
}

small {
	font-size: rem-calc(15);
}

// paragraph links

p a {
	color: $warm-gray-1;
}

p a:hover {
	color: #000;
}


// well, just, because it was designed in indesign .....................

h2.small-caps {
	text-transform: uppercase;
	font-size: rem-calc(18);
	letter-spacing: 0.1rem;
	color: $dark-gray;
   
	@include breakpoint(medium) {
		margin-top: 1rem;
		color: #fff;
		font-size: 4.5vw;
	}
	@include breakpoint(large) {
		font-size: 4.25vw;
	}
	@include breakpoint(xlarge) {
		font-size: rem-calc(45);
	}
}


// heads with bottom border ............................................

h3 span {
	display: inline-block;
	margin-bottom: 0.5rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid $warm-gray-2;

	@include breakpoint(medium) {
		font-size: 4vw;
	}
	@include breakpoint(xlarge) {
		font-size: rem-calc(50);
	}
}

h4 span {
	display: inline-block;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $warm-gray-2;
}

h5 span {
	display: inline-block;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $warm-gray-2;
}


// other special head styles ...........................................


.sidebar h5 {
	margin-top: 0.5rem;
}


// reduce flash of unstyled text .......................................

.wf-loading h1 {
	visibility: hidden;
}

.wf-active h1 {
	visibility: visible;
}


// links with right arrow ..............................................

a.view-more {
	display: inline-block;
	margin-top: rem-calc(32);
	padding: rem-calc(4) rem-calc(32) 0 0;
	text-align: center;
	color: #000;
	opacity: 0.5;
	border-top: 1px solid #151f25;
	background-image: url('../img/arrow-right-blk.svg');
	background-repeat: no-repeat;
	background-size: 21px 15px;
	background-position: 100% 60%;
	font-size: rem-calc(16);
	
	@include breakpoint(medium) {
		font-size: rem-calc(20);
	}

	@include breakpoint(large) {
		font-size: rem-calc(24);
	}
}

a.view-more:hover {
	opacity: 1;
}





