/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   TYPOGRAPHY 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


h1 {
    font-size: 7vw;
    
	@include breakpoint(xlarge) {
		font-size: 5rem;
	}
}

h4 {
	color: $warm-gray-2;
}

p {
	
	font-size: rem-calc(14);

	@include breakpoint(medium) {
		font-size: rem-calc(17);
	}
	@include breakpoint(large) {
		font-size: rem-calc(20);
	}
	@include breakpoint(xlarge) {
		font-size: rem-calc(24);
	}
	
}

small {
	display: block;
}