/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   VARIABLES 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



$dark-gray: #141f25;

$warm-gray-1: #3a454b;

$warm-gray-2: #8b8782;

$warm-gray-3: #c4c0bd;

$light-green: #e6edee;