// background video head 

.desktop-intro-block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
    margin: 0;
	width: 100%;
	height: 65vh;
	min-height: 100%;
	z-index: 0;
    background: url(../videos/sample2.jpg) no-repeat center center;
    background-size: cover; 
	text-decoration: none;

	@include breakpoint(medium) {
		height: 116vh;
	}

}


.desktop-video-wrap {
	display: none;
	
	@include breakpoint(large) {
		display: block;
	}
	
}

.mobile-static-wrap {
	display: block;
	@include breakpoint(large) {
		display: none;
	}
}

.desktop-video-wrap h1,
.mobile-static-wrap h1 {
	font-style: italic;
	color: #fff;
}


.text-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 60vh;
    margin: 0;
	width: 100%;
	z-index: 100;

	@include breakpoint(medium) {
		height: 90vh;
	}

}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);	
}

.video-container { 
    position: absolute;
    overflow: hidden;
    top: 0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.video-overlay-tint {
    position: absolute;
    overflow: hidden;
    top: 0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: $warm-gray-1;
    opacity: 0.5;
}

video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }



.video-shim-skew {
	position: relative;
	background-color: #fff;
    z-index: 100;
}

.video-shim-skew:before {
	background: inherit;
    top: -4.5rem;
    content: '';
    display: block;
    height: 75%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: 50%;
}

.video-shim-skew .headline {
	position: relative;
	padding: 2vh 5vw 7vh 5vw;
	z-index: 200;
	
	@include breakpoint(large) {
		padding: 3vh 10vw 7vh 10vw;
	}

	@include breakpoint(xlarge) {
		padding: 7vh 14vh 8vh 14vw;
	}

}





/*
html {
	@include breakpoint(medium) {
    	background: url(../videos/sample.jpg) #000 no-repeat center center fixed;
	}
}
*/

#bgvid {
	
    display: none;
	
	@include breakpoint(large) {
		display: block;
	}
}
